h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

body {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    background-color: white;
}

.quiz-question1 {
    display: none;
    padding: 10px;
}

.quiz-question2 {
    display: none;
    padding: 10px;
}

.quiz-question3 {
    display: none;
    padding: 10px;
}

.finalScore {
    display: none;
    padding: 10px;
}
/* add style for button*/
button {
    background-color: purple;
    padding: 10px;
    margin: 7px;
    color: whitesmoke;
}

/* add style for high score button */
.high-score {
    text-align: left;
    margin: 0;
    padding: 0;
    justify-content: left;
}

/* add style for timer */
.timer-text {
    text-align: right;
    margin: 20px;
}

.highScoreList {
    display: none;
}

.correct {
    display: none;
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
}

